#particles-js
{
	background-image: linear-gradient(rgba(0, 2, 73, 0.2), rgba(22, 41, 30, 0.3)), url('https://images.unsplash.com/photo-1583483425010-c566431a7710?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80');
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

*{
	margin: 0;
	padding: 0;
}

.main {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}
.home{
  font-family: 'Helvetica', sans-serif;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.task{
	font-size: 25px;
	box-shadow: 0 4px 8px 0 rgba(20, 20, 20, 0.3), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
