<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr" id="particles-js">
  <head>
    <meta charset="utf-8">
    <title>To Do app</title>
    <!-- custom style  -->
    <link rel="stylesheet" href={% static "/css/style.css" %}>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
    <div class="main">
      <div class="container home">
        {%block body_block%}
        {% endblock %}
      </div>
    </div>

  <script type="text/javascript" src="{% static "/js/particles.min.js" %}" ></script>
  <script src="{% static "/js/script.js" %}"></script>


  </body>
</html>
